# -*- mode: snippet -*-
# name: com.atguigu.crowd.entity.vo.MemberConfirmInfoVO
# key: mcivo;
# group: dc-yasnippet
# --
MemberConfirmInfoVO`(dc-yasnippet "import+com.atguigu.crowd.entity.vo.MemberConfirmInfoVO;")`