# -*- mode: snippet -*-
# name: org.elasticsearch.search.fetch.subphase.highlight.HighlightBuilder
# key: hb;
# group: dc-yasnippet
# --
HighlightBuilder`(dc-yasnippet "import+org.elasticsearch.search.fetch.subphase.highlight.HighlightBuilder;")`