# -*- mode: snippet -*-
# name: com.atguigu.crowd.entity.po.MemberPOExample.Criteria
# key: crit;
# group: dc-yasnippet
# --
Criteria`(dc-yasnippet "import+com.atguigu.crowd.entity.po.MemberPOExample.Criteria;")`