# -*- mode: snippet -*-
# name: com.baomidou.mybatisplus.core.conditions.update.UpdateWrapper
# key: uw;
# group: dc-yasnippet
# --
UpdateWrapper`(dc-yasnippet "import+com.baomidou.mybatisplus.core.conditions.update.UpdateWrapper;")`