# -*- mode: snippet -*-
# name: org.elasticsearch.index.query.BoolQueryBuilder
# key: bqb;
# group: dc-yasnippet
# --
BoolQueryBuilder`(dc-yasnippet "import+org.elasticsearch.index.query.BoolQueryBuilder;")`