# -*- mode: snippet -*-
# name: org.elasticsearch.index.query.NestedQueryBuilder
# key: nqb;
# group: dc-yasnippet
# --
NestedQueryBuilder`(dc-yasnippet "import+org.elasticsearch.index.query.NestedQueryBuilder;")`