# -*- mode: snippet -*-
# name: org.elasticsearch.index.query.RangeQueryBuilder
# key: rqb;
# group: dc-yasnippet
# --
RangeQueryBuilder`(dc-yasnippet "import+org.elasticsearch.index.query.RangeQueryBuilder;")`