# -*- mode: snippet -*-
# name: com.baomidou.mybatisplus.extension.service.IService
# key: is;
# group: dc-yasnippet
# --
IService`(dc-yasnippet "import+com.baomidou.mybatisplus.extension.service.IService;")`