# -*- mode: snippet -*-
# name: com.atguigu.gulimall.product.entity.AttrGroupEntity
# key: age;
# group: dc-yasnippet
# --
AttrGroupEntity`(dc-yasnippet "import+com.atguigu.gulimall.product.entity.AttrGroupEntity;")`