# -*- mode: snippet -*-
# name: com.atguigu.gulimall.product.entity.AttrAttrgroupRelationEntity
# key: aare;
# group: dc-yasnippet
# --
AttrAttrgroupRelationEntity`(dc-yasnippet "import+com.atguigu.gulimall.product.entity.AttrAttrgroupRelationEntity;")`