# -*- mode: snippet -*-
# name: com.atguigu.gulimall.product.entity.AttrEntity
# key: ae;
# group: dc-yasnippet
# --
AttrEntity`(dc-yasnippet "import+com.atguigu.gulimall.product.entity.AttrEntity;")`