# -*- mode: snippet -*-
# name: com.atguigu.gulimall.product.entity.BrandEntity
# key: be;
# group: dc-yasnippet
# --
BrandEntity`(dc-yasnippet "import+com.atguigu.gulimall.product.entity.BrandEntity;")`