# -*- mode: snippet -*-
# name: com.atguigu.gulimall.product.entity.CategoryEntity
# key: ce;
# group: dc-yasnippet
# --
CategoryEntity`(dc-yasnippet "import+com.atguigu.gulimall.product.entity.CategoryEntity;")`