# -*- mode: snippet -*-
# name: com.atguigu.gulimall.product.entity.CategoryBrandRelationEntity
# key: cbre;
# group: dc-yasnippet
# --
CategoryBrandRelationEntity`(dc-yasnippet "import+com.atguigu.gulimall.product.entity.CategoryBrandRelationEntity;")`