# -*- mode: snippet -*-
# name: com.atguigu.gulimall.product.entity.ProductAttrValueEntity
# key: pave;
# group: dc-yasnippet
# --
ProductAttrValueEntity`(dc-yasnippet "import+com.atguigu.gulimall.product.entity.ProductAttrValueEntity;")`