# -*- mode: snippet -*-
# name: com.atguigu.gulimall.product.entity.SkuInfoEntity
# key: sie;
# group: dc-yasnippet
# --
SkuInfoEntity`(dc-yasnippet "import+com.atguigu.gulimall.product.entity.SkuInfoEntity;")`