# -*- mode: snippet -*-
# name: com.atguigu.gulimall.product.entity.SpuInfoDescEntity
# key: side;
# group: dc-yasnippet
# --
SpuInfoDescEntity`(dc-yasnippet "import+com.atguigu.gulimall.product.entity.SpuInfoDescEntity;")`