# -*- mode: snippet -*-
# name: com.atguigu.gulimall.product.entity.SpuInfoEntity
# key: sie;
# group: dc-yasnippet
# --
SpuInfoEntity`(dc-yasnippet "import+com.atguigu.gulimall.product.entity.SpuInfoEntity;")`