# -*- mode: snippet -*-
# name: com.baomidou.mybatisplus.core.mapper.BaseMapper
# key: bm;
# group: dc-yasnippet
# --
BaseMapper`(dc-yasnippet "import+com.baomidou.mybatisplus.core.mapper.BaseMapper;")`