# -*- mode: snippet -*-
# name: com.baomidou.mybatisplus.core.conditions.query.QueryWrapper
# key: qw;
# group: dc-yasnippet
# --
QueryWrapper`(dc-yasnippet "import+com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;")`