# -*- mode: snippet -*-
# name: org.elasticsearch.search.aggregations.Aggregations
# key: aggr;
# group: dc-yasnippet
# --
Aggregations`(dc-yasnippet "import+org.elasticsearch.search.aggregations.Aggregations;")`