# -*- mode: snippet -*-
# name: org.elasticsearch.search.aggregations.AggregationBuilders
# key: ab;
# group: dc-yasnippet
# --
AggregationBuilders`(dc-yasnippet "import+org.elasticsearch.search.aggregations.AggregationBuilders;")`