# -*- mode: snippet -*-
# name: com.atguigu.gulimall.member.entity.GrowthChangeHistoryEntity
# key: gche;
# group: dc-yasnippet
# --
GrowthChangeHistoryEntity`(dc-yasnippet "import+com.atguigu.gulimall.member.entity.GrowthChangeHistoryEntity;")`