# -*- mode: snippet -*-
# name: com.xunqi.gulimall.auth.feign.MemberFeignService
# key: mfs;
# group: dc-yasnippet
# --
MemberFeignService`(dc-yasnippet "import+com.xunqi.gulimall.auth.feign.MemberFeignService;")`