# -*- mode: snippet -*-
# name: com.xunqi.gulimall.auth.feign.ThirdPartFeignService
# key: tpfs;
# group: dc-yasnippet
# --
ThirdPartFeignService`(dc-yasnippet "import+com.xunqi.gulimall.auth.feign.ThirdPartFeignService;")`