# -*- mode: snippet -*-
# name: static com.xunqi.common.constant.AuthServerConstant.LOGIN_USER
# key: loginuser;
# group: dc-yasnippet
# --
LOGIN_USER`(dc-yasnippet "import+static+com.xunqi.common.constant.AuthServerConstant.LOGIN_USER;")`