# -*- mode: snippet -*-
# name: org.springframework.cloud.context.config.annotation.RefreshScope
# key: rs;
# group: dc-yasnippet
# --
RefreshScope`(dc-yasnippet "import+org.springframework.cloud.context.config.annotation.RefreshScope;")`