# -*- mode: snippet -*-
# name: com.baomidou.mybatisplus.core.toolkit.BeanUtils
# key: bu;
# group: dc-yasnippet
# --
BeanUtils`(dc-yasnippet "import+com.baomidou.mybatisplus.core.toolkit.BeanUtils;")`