# -*- mode: snippet -*-
# name: com.baomidou.mybatisplus.core.toolkit.StringUtils
# key: su;
# group: dc-yasnippet
# --
StringUtils`(dc-yasnippet "import+com.baomidou.mybatisplus.core.toolkit.StringUtils;")`