# -*- mode: snippet -*-
# name: com.atguigu.crowd.api.MySQLRemoteService
# key: msqlrs;
# group: dc-yasnippet
# --
MySQLRemoteService`(dc-yasnippet "import+com.atguigu.crowd.api.MySQLRemoteService;")`