# -*- mode: snippet -*-
# name: org.springframework.data.redis.core.StringRedisTemplate
# key: srt;
# group: dc-yasnippet
# --
StringRedisTemplate`(dc-yasnippet "import+org.springframework.data.redis.core.StringRedisTemplate;")`