# -*- mode: snippet -*-
# name: org.springframework.data.redis.core.ValueOperations
# key: vo;
# group: dc-yasnippet
# --
ValueOperations`(dc-yasnippet "import+org.springframework.data.redis.core.ValueOperations;")`