# -*- mode: snippet -*-
# name: com.aliyuncs.endpoint.location.model.v20150612.DescribeEndpointsResponse.Endpoint
# key: endp;
# group: dc-yasnippet
# --
Endpoint`(dc-yasnippet "import+com.aliyuncs.endpoint.location.model.v20150612.DescribeEndpointsResponse.Endpoint;")`