# -*- mode: snippet -*-
# name: org.springframework.expression.spel.ast.TypeReference
# key: tr;
# group: dc-yasnippet
# --
TypeReference`(dc-yasnippet "import+org.springframework.expression.spel.ast.TypeReference;")`