# -*- mode: snippet -*-
# name: com.atguigu.gulimall.product.dao.AttrAttrgroupRelationDao
# key: aard;
# group: dc-yasnippet
# --
AttrAttrgroupRelationDao`(dc-yasnippet "import+com.atguigu.gulimall.product.dao.AttrAttrgroupRelationDao;")`