# -*- mode: snippet -*-
# name: com.atguigu.gulimall.product.dao.AttrGroupDao
# key: agd;
# group: dc-yasnippet
# --
AttrGroupDao`(dc-yasnippet "import+com.atguigu.gulimall.product.dao.AttrGroupDao;")`