# -*- mode: snippet -*-
# name: com.atguigu.gulimall.product.dao.CategoryBrandRelationDao
# key: cbrd;
# group: dc-yasnippet
# --
CategoryBrandRelationDao`(dc-yasnippet "import+com.atguigu.gulimall.product.dao.CategoryBrandRelationDao;")`