# -*- mode: snippet -*-
# name: com.atguigu.gulimall.product.dao.ProductAttrValueDao
# key: pavd;
# group: dc-yasnippet
# --
ProductAttrValueDao`(dc-yasnippet "import+com.atguigu.gulimall.product.dao.ProductAttrValueDao;")`