# -*- mode: snippet -*-
# name: org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
# key: dsac;
# group: dc-yasnippet
# --
DataSourceAutoConfiguration`(dc-yasnippet "import+org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration;")`