# -*- mode: snippet -*-
# name: org.springframework.boot.autoconfigure.SpringBootApplication
# key: sba;
# group: dc-yasnippet
# --
SpringBootApplication`(dc-yasnippet "import+org.springframework.boot.autoconfigure.SpringBootApplication;")`