# -*- mode: snippet -*-
# name: com.atguigu.gulimall.order.service.OrderService
# key: os;
# group: dc-yasnippet
# --
OrderService`(dc-yasnippet "import+com.atguigu.gulimall.order.service.OrderService;")`