# -*- mode: snippet -*-
# name: com.atguigu.gulimall.ware.dao.PurchaseDetailDao
# key: pdd;
# group: dc-yasnippet
# --
PurchaseDetailDao`(dc-yasnippet "import+com.atguigu.gulimall.ware.dao.PurchaseDetailDao;")`