# -*- mode: snippet -*-
# name: com.fasterxml.jackson.databind.deser.std.NumberDeserializers.BigDecimalDeserializer
# key: bdd;
# group: dc-yasnippet
# --
BigDecimalDeserializer`(dc-yasnippet "import+com.fasterxml.jackson.databind.deser.std.NumberDeserializers.BigDecimalDeserializer;")`