# -*- mode: snippet -*-
# name: com.mysql.cj.x.protobuf.MysqlxExpect.Open.Condition.Key
# key: key;
# group: dc-yasnippet
# --
Key`(dc-yasnippet "import+com.mysql.cj.x.protobuf.MysqlxExpect.Open.Condition.Key;")`