# -*- mode: snippet -*-
# name: org.springframework.web.cors.CorsConfiguration
# key: cc;
# group: dc-yasnippet
# --
CorsConfiguration`(dc-yasnippet "import+org.springframework.web.cors.CorsConfiguration;")`