# -*- mode: snippet -*-
# name: com.baomidou.mybatisplus.extension.plugins.PaginationInterceptor
# key: pi;
# group: dc-yasnippet
# --
PaginationInterceptor`(dc-yasnippet "import+com.baomidou.mybatisplus.extension.plugins.PaginationInterceptor;")`