# -*- mode: snippet -*-
# name: com.atguigu.crowd.constant.AccessPassResources
# key: apr;
# group: dc-yasnippet
# --
AccessPassResources`(dc-yasnippet "import+com.atguigu.crowd.constant.AccessPassResources;")`