# -*- mode: snippet -*-
# name: org.springframework.web.multipart.MultipartFile
# key: mf;
# group: dc-yasnippet
# --
MultipartFile`(dc-yasnippet "import+org.springframework.web.multipart.MultipartFile;")`