# -*- mode: snippet -*-
# name: com.atguigu.gulimall.gulimallsearch.vo.SearchResult
# key: sr;
# group: dc-yasnippet
# --
SearchResult`(dc-yasnippet "import+com.atguigu.gulimall.gulimallsearch.vo.SearchResult;")`