# -*- mode: snippet -*-
# name: com.atguigu.gulimall.gulimallsearch.vo.SearchParam
# key: sp;
# group: dc-yasnippet
# --
SearchParam`(dc-yasnippet "import+com.atguigu.gulimall.gulimallsearch.vo.SearchParam;")`