# -*- mode: snippet -*-
# name: org.springframework.boot.context.properties.ConfigurationProperties
# key: cp;
# group: dc-yasnippet
# --
ConfigurationProperties`(dc-yasnippet "import+org.springframework.boot.context.properties.ConfigurationProperties;")`