# -*- mode: snippet -*-
# name: org.elasticsearch.client.RestHighLevelClient
# key: rhlc;
# group: dc-yasnippet
# --
RestHighLevelClient`(dc-yasnippet "import+org.elasticsearch.client.RestHighLevelClient;")`