# -*- mode: snippet -*-
# name: org.elasticsearch.common.xcontent.XContentType
# key: xct;
# group: dc-yasnippet
# --
XContentType`(dc-yasnippet "import+org.elasticsearch.common.xcontent.XContentType;")`