# -*- mode: snippet -*-
# name: org.springframework.dao.DuplicateKeyException
# key: dke;
# group: dc-yasnippet
# --
DuplicateKeyException`(dc-yasnippet "import+org.springframework.dao.DuplicateKeyException;")`