# -*- mode: snippet -*-
# name: org.elasticsearch.search.aggregations.bucket.terms.ParsedStringTerms
# key: pst;
# group: dc-yasnippet
# --
ParsedStringTerms`(dc-yasnippet "import+org.elasticsearch.search.aggregations.bucket.terms.ParsedStringTerms;")`