# -*- mode: snippet -*-
# name: org.elasticsearch.search.aggregations.bucket.terms.TermsAggregationBuilder
# key: tab;
# group: dc-yasnippet
# --
TermsAggregationBuilder`(dc-yasnippet "import+org.elasticsearch.search.aggregations.bucket.terms.TermsAggregationBuilder;")`