# -*- mode: snippet -*-
# name: org.springframework.cloud.netflix.zuul.EnableZuulProxy
# key: ezp;
# group: dc-yasnippet
# --
EnableZuulProxy`(dc-yasnippet "import+org.springframework.cloud.netflix.zuul.EnableZuulProxy;")`