# -*- mode: snippet -*-
# name: com.atguigu.gulimall.ware.entity.PurchaseEntity
# key: pe;
# group: dc-yasnippet
# --
PurchaseEntity`(dc-yasnippet "import+com.atguigu.gulimall.ware.entity.PurchaseEntity;")`