# -*- mode: snippet -*-
# name: com.atguigu.gulimall.ware.entity.PurchaseDetailEntity
# key: pde;
# group: dc-yasnippet
# --
PurchaseDetailEntity`(dc-yasnippet "import+com.atguigu.gulimall.ware.entity.PurchaseDetailEntity;")`