# -*- mode: snippet -*-
# name: com.atguigu.gulimall.ware.entity.WareInfoEntity
# key: wie;
# group: dc-yasnippet
# --
WareInfoEntity`(dc-yasnippet "import+com.atguigu.gulimall.ware.entity.WareInfoEntity;")`