# -*- mode: snippet -*-
# name: com.atguigu.gulimall.ware.entity.WareSkuEntity
# key: wse;
# group: dc-yasnippet
# --
WareSkuEntity`(dc-yasnippet "import+com.atguigu.gulimall.ware.entity.WareSkuEntity;")`