# -*- mode: snippet -*-
# name: com.atguigu.gulimall.product.vo.AttrGroupRelationVo
# key: agrv;
# group: dc-yasnippet
# --
AttrGroupRelationVo`(dc-yasnippet "import+com.atguigu.gulimall.product.vo.AttrGroupRelationVo;")`