# -*- mode: snippet -*-
# name: com.atguigu.gulimall.product.vo.AttrGroupWithAttrsVo
# key: agwav;
# group: dc-yasnippet
# --
AttrGroupWithAttrsVo`(dc-yasnippet "import+com.atguigu.gulimall.product.vo.AttrGroupWithAttrsVo;")`