# -*- mode: snippet -*-
# name: org.springframework.web.bind.annotation.ControllerAdvice
# key: ca;
# group: dc-yasnippet
# --
ControllerAdvice`(dc-yasnippet "import+org.springframework.web.bind.annotation.ControllerAdvice;")`