# -*- mode: snippet -*-
# name: org.springframework.web.bind.annotation.ExceptionHandler
# key: eh;
# group: dc-yasnippet
# --
ExceptionHandler`(dc-yasnippet "import+org.springframework.web.bind.annotation.ExceptionHandler;")`