# -*- mode: snippet -*-
# name: org.springframework.web.bind.annotation.GetMapping
# key: gm;
# group: dc-yasnippet
# --
GetMapping`(dc-yasnippet "import+org.springframework.web.bind.annotation.GetMapping;")`