# -*- mode: snippet -*-
# name: org.springframework.web.bind.annotation.PathVariable
# key: pv;
# group: dc-yasnippet
# --
PathVariable`(dc-yasnippet "import+org.springframework.web.bind.annotation.PathVariable;")`