# -*- mode: snippet -*-
# name: org.springframework.web.bind.annotation.PostMapping
# key: pm;
# group: dc-yasnippet
# --
PostMapping`(dc-yasnippet "import+org.springframework.web.bind.annotation.PostMapping;")`