# -*- mode: snippet -*-
# name: org.springframework.web.bind.annotation.RequestMethod
# key: rm;
# group: dc-yasnippet
# --
RequestMethod`(dc-yasnippet "import+org.springframework.web.bind.annotation.RequestMethod;")`