# -*- mode: snippet -*-
# name: org.springframework.web.bind.annotation.RequestParam
# key: rp;
# group: dc-yasnippet
# --
RequestParam`(dc-yasnippet "import+org.springframework.web.bind.annotation.RequestParam;")`