# -*- mode: snippet -*-
# name: org.springframework.web.bind.annotation.RestControllerAdvice
# key: rca;
# group: dc-yasnippet
# --
RestControllerAdvice`(dc-yasnippet "import+org.springframework.web.bind.annotation.RestControllerAdvice;")`