# -*- mode: snippet -*-
# name: com.baomidou.mybatisplus.extension.service.impl.ServiceImpl
# key: si;
# group: dc-yasnippet
# --
ServiceImpl`(dc-yasnippet "import+com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;")`