# -*- mode: snippet -*-
# name: org.springframework.cloud.openfeign.EnableFeignClients
# key: efc;
# group: dc-yasnippet
# --
EnableFeignClients`(dc-yasnippet "import+org.springframework.cloud.openfeign.EnableFeignClients;")`