# -*- mode: snippet -*-
# name: org.springframework.cloud.openfeign.FeignClient
# key: fc;
# group: dc-yasnippet
# --
FeignClient`(dc-yasnippet "import+org.springframework.cloud.openfeign.FeignClient;")`