# -*- mode: snippet -*-
# name: org.springframework.validation.annotation.Validated
# key: vali;
# group: dc-yasnippet
# --
Validated`(dc-yasnippet "import+org.springframework.validation.annotation.Validated;")`