# -*- mode: snippet -*-
# name: com.atguigu.gulimall.gulimallsearch.service.MallSearchService
# key: mss;
# group: dc-yasnippet
# --
MallSearchService`(dc-yasnippet "import+com.atguigu.gulimall.gulimallsearch.service.MallSearchService;")`