# -*- mode: snippet -*-
# name: com.atguigu.gulimall.gulimallsearch.service.ProductSaveService
# key: pss;
# group: dc-yasnippet
# --
ProductSaveService`(dc-yasnippet "import+com.atguigu.gulimall.gulimallsearch.service.ProductSaveService;")`