# -*- mode: snippet -*-
# name: com.alibaba.fastjson.serializer.BigDecimalCodec
# key: bdc;
# group: dc-yasnippet
# --
BigDecimalCodec`(dc-yasnippet "import+com.alibaba.fastjson.serializer.BigDecimalCodec;")`