# -*- mode: snippet -*-
# name: jdk.internal.org.objectweb.asm.tree.TryCatchBlockNode
# key: tcbn;
# group: dc-yasnippet
# --
TryCatchBlockNode`(dc-yasnippet "import+jdk.internal.org.objectweb.asm.tree.TryCatchBlockNode;")`