# -*- mode: snippet -*-
# name: com.atguigu.crowd.service.api.ProjectService
# key: ps;
# group: dc-yasnippet
# --
ProjectService`(dc-yasnippet "import+com.atguigu.crowd.service.api.ProjectService;")`