# -*- mode: snippet -*-
# name: org.springframework.test.context.junit4.SpringRunner
# key: sr;
# group: dc-yasnippet
# --
SpringRunner`(dc-yasnippet "import+org.springframework.test.context.junit4.SpringRunner;")`