# -*- mode: snippet -*-
# name: com.atguigu.gulimall.gulimallsearch.config.GulimallElasticSearchConfig
# key: gesc;
# group: dc-yasnippet
# --
GulimallElasticSearchConfig`(dc-yasnippet "import+com.atguigu.gulimall.gulimallsearch.config.GulimallElasticSearchConfig;")`