# -*- mode: snippet -*-
# name: org.springframework.transaction.annotation.EnableTransactionManagement
# key: etm;
# group: dc-yasnippet
# --
EnableTransactionManagement`(dc-yasnippet "import+org.springframework.transaction.annotation.EnableTransactionManagement;")`