# -*- mode: snippet -*-
# name: org.springframework.transaction.annotation.Propagation
# key: prop;
# group: dc-yasnippet
# --
Propagation`(dc-yasnippet "import+org.springframework.transaction.annotation.Propagation;")`