# -*- mode: snippet -*-
# name: org.springframework.transaction.annotation.Transactional
# key: tran;
# group: dc-yasnippet
# --
Transactional`(dc-yasnippet "import+org.springframework.transaction.annotation.Transactional;")`