# -*- mode: snippet -*-
# name: org.springframework.web.cors.reactive.CorsWebFilter
# key: cwf;
# group: dc-yasnippet
# --
CorsWebFilter`(dc-yasnippet "import+org.springframework.web.cors.reactive.CorsWebFilter;")`