# -*- mode: snippet -*-
# name: org.springframework.web.cors.reactive.UrlBasedCorsConfigurationSource
# key: ubccs;
# group: dc-yasnippet
# --
UrlBasedCorsConfigurationSource`(dc-yasnippet "import+org.springframework.web.cors.reactive.UrlBasedCorsConfigurationSource;")`