# -*- mode: snippet -*-
# name: org.springframework.data.redis.core.script.DefaultRedisScript
# key: drs;
# group: dc-yasnippet
# --
DefaultRedisScript`(dc-yasnippet "import+org.springframework.data.redis.core.script.DefaultRedisScript;")`