# -*- mode: snippet -*-
# name: com.atguigu.crowd.entity.po.MemberLaunchInfoPO
# key: mlipo;
# group: dc-yasnippet
# --
MemberLaunchInfoPO`(dc-yasnippet "import+com.atguigu.crowd.entity.po.MemberLaunchInfoPO;")`