# -*- mode: snippet -*-
# name: com.atguigu.crowd.entity.po.MemberPOExample
# key: mpoe;
# group: dc-yasnippet
# --
MemberPOExample`(dc-yasnippet "import+com.atguigu.crowd.entity.po.MemberPOExample;")`