# -*- mode: snippet -*-
# name: com.atguigu.crowd.entity.po.MemberConfirmInfoPO
# key: mcipo;
# group: dc-yasnippet
# --
MemberConfirmInfoPO`(dc-yasnippet "import+com.atguigu.crowd.entity.po.MemberConfirmInfoPO;")`