# -*- mode: snippet -*-
# name: com.atguigu.crowd.entity.po.ProjectPOExample
# key: ppoe;
# group: dc-yasnippet
# --
ProjectPOExample`(dc-yasnippet "import+com.atguigu.crowd.entity.po.ProjectPOExample;")`