# -*- mode: snippet -*-
# name: com.atguigu.crowd.mapper.MemberConfirmInfoPOMapper
# key: mcipom;
# group: dc-yasnippet
# --
MemberConfirmInfoPOMapper`(dc-yasnippet "import+com.atguigu.crowd.mapper.MemberConfirmInfoPOMapper;")`