# -*- mode: snippet -*-
# name: com.atguigu.crowd.mapper.MemberLaunchInfoPOMapper
# key: mlipom;
# group: dc-yasnippet
# --
MemberLaunchInfoPOMapper`(dc-yasnippet "import+com.atguigu.crowd.mapper.MemberLaunchInfoPOMapper;")`