# -*- mode: snippet -*-
# name: org.elasticsearch.search.builder.SearchSourceBuilder
# key: ssb;
# group: dc-yasnippet
# --
SearchSourceBuilder`(dc-yasnippet "import+org.elasticsearch.search.builder.SearchSourceBuilder;")`