# -*- mode: snippet -*-
# name: org.elasticsearch.action.search.SearchResponse
# key: sr;
# group: dc-yasnippet
# --
SearchResponse`(dc-yasnippet "import+org.elasticsearch.action.search.SearchResponse;")`