# -*- mode: snippet -*-
# name: org.elasticsearch.action.search.SearchRequest
# key: sr;
# group: dc-yasnippet
# --
SearchRequest`(dc-yasnippet "import+org.elasticsearch.action.search.SearchRequest;")`