# -*- mode: snippet -*-
# name: org.springframework.boot.autoconfigure.condition.ConditionalOnMissingBean
# key: comb;
# group: dc-yasnippet
# --
ConditionalOnMissingBean`(dc-yasnippet "import+org.springframework.boot.autoconfigure.condition.ConditionalOnMissingBean;")`