# -*- mode: snippet -*-
# name: com.atguigu.gulimall.coupon.service.CouponService
# key: cs;
# group: dc-yasnippet
# --
CouponService`(dc-yasnippet "import+com.atguigu.gulimall.coupon.service.CouponService;")`