# -*- mode: snippet -*-
# name: com.atguigu.gulimall.coupon.service.MemberPriceService
# key: mps;
# group: dc-yasnippet
# --
MemberPriceService`(dc-yasnippet "import+com.atguigu.gulimall.coupon.service.MemberPriceService;")`