# -*- mode: snippet -*-
# name: com.atguigu.gulimall.coupon.service.SkuFullReductionService
# key: sfrs;
# group: dc-yasnippet
# --
SkuFullReductionService`(dc-yasnippet "import+com.atguigu.gulimall.coupon.service.SkuFullReductionService;")`