# -*- mode: snippet -*-
# name: com.atguigu.gulimall.coupon.service.SkuLadderService
# key: sls;
# group: dc-yasnippet
# --
SkuLadderService`(dc-yasnippet "import+com.atguigu.gulimall.coupon.service.SkuLadderService;")`