# -*- mode: snippet -*-
# name: static org.junit.jupiter.api.Assertions.assertEquals
# key: asse;
# group: dc-yasnippet
# --
assertEquals`(dc-yasnippet "import+static+org.junit.jupiter.api.Assertions.assertEquals;")`