# -*- mode: snippet -*-
# name: org-indent) (org-indent-mode 1)
# key: org-indent) (org-indent-mode 1);
# group: dc-yasnippet
# --
org-indent) (org-indent-mode 1)`(dc-yasnippet "(require+'org-indent)+(org-indent-mode+1))")`