# -*- mode: snippet -*-
# name: org-mobile) (customize-group 'org-mobile)) t]
# key: org-mobile) (customize-group 'org-mobile)) t];
# group: dc-yasnippet
# --
org-mobile) (customize-group 'org-mobile)) t]`(dc-yasnippet "(require+'org-mobile)+(customize-group+'org-mobile))+t])")`