# -*- mode: snippet -*-
# name: com.atguigu.gulimall.product.feign.CouponFeignService
# key: cfs;
# group: dc-yasnippet
# --
CouponFeignService`(dc-yasnippet "import+com.atguigu.gulimall.product.feign.CouponFeignService;")`