# -*- mode: snippet -*-
# name: com.atguigu.gulimall.product.feign.SearchFeignService
# key: sfs;
# group: dc-yasnippet
# --
SearchFeignService`(dc-yasnippet "import+com.atguigu.gulimall.product.feign.SearchFeignService;")`