# -*- mode: snippet -*-
# name: com.atguigu.gulimall.product.feign.WareFeignService
# key: wfs;
# group: dc-yasnippet
# --
WareFeignService`(dc-yasnippet "import+com.atguigu.gulimall.product.feign.WareFeignService;")`