# -*- mode: snippet -*-
# name: com.atguigu.gulimall.ware.feign.ProductFeignService
# key: pfs;
# group: dc-yasnippet
# --
ProductFeignService`(dc-yasnippet "import+com.atguigu.gulimall.ware.feign.ProductFeignService;")`