# -*- mode: snippet -*-
# name: com.baomidou.mybatisplus.annotation.TableLogic
# key: tl;
# group: dc-yasnippet
# --
TableLogic`(dc-yasnippet "import+com.baomidou.mybatisplus.annotation.TableLogic;")`