# -*- mode: snippet -*-
# name: com.baomidou.mybatisplus.annotation.TableField
# key: tf;
# group: dc-yasnippet
# --
TableField`(dc-yasnippet "import+com.baomidou.mybatisplus.annotation.TableField;")`