# -*- mode: snippet -*-
# name: org.springframework.cloud.client.discovery.EnableDiscoveryClient
# key: edc;
# group: dc-yasnippet
# --
EnableDiscoveryClient`(dc-yasnippet "import+org.springframework.cloud.client.discovery.EnableDiscoveryClient;")`