# -*- mode: snippet -*-
# name: org.springframework.boot.env.SpringApplicationJsonEnvironmentPostProcessor
# key: sajepp;
# group: dc-yasnippet
# --
SpringApplicationJsonEnvironmentPostProcessor`(dc-yasnippet "import+org.springframework.boot.env.SpringApplicationJsonEnvironmentPostProcessor;")`