# -*- mode: snippet -*-
# name: io.renren.modules.sys.service.SysUserRoleService
# key: surs;
# group: dc-yasnippet
# --
SysUserRoleService`(dc-yasnippet "import+io.renren.modules.sys.service.SysUserRoleService;")`