# -*- mode: snippet -*-
# name: io.renren.modules.sys.service.SysUserService
# key: sus;
# group: dc-yasnippet
# --
SysUserService`(dc-yasnippet "import+io.renren.modules.sys.service.SysUserService;")`