# -*- mode: snippet -*-
# name: com.atguigu.gulimall.coupon.entity.CouponEntity
# key: ce;
# group: dc-yasnippet
# --
CouponEntity`(dc-yasnippet "import+com.atguigu.gulimall.coupon.entity.CouponEntity;")`