# -*- mode: snippet -*-
# name: com.atguigu.gulimall.coupon.entity.MemberPriceEntity
# key: mpe;
# group: dc-yasnippet
# --
MemberPriceEntity`(dc-yasnippet "import+com.atguigu.gulimall.coupon.entity.MemberPriceEntity;")`