# -*- mode: snippet -*-
# name: com.atguigu.gulimall.coupon.entity.SkuFullReductionEntity
# key: sfre;
# group: dc-yasnippet
# --
SkuFullReductionEntity`(dc-yasnippet "import+com.atguigu.gulimall.coupon.entity.SkuFullReductionEntity;")`