# -*- mode: snippet -*-
# name: com.atguigu.gulimall.coupon.entity.SkuLadderEntity
# key: sle;
# group: dc-yasnippet
# --
SkuLadderEntity`(dc-yasnippet "import+com.atguigu.gulimall.coupon.entity.SkuLadderEntity;")`