# -*- mode: snippet -*-
# name: org.springframework.web.servlet.mvc.support.RedirectAttributes
# key: ra;
# group: dc-yasnippet
# --
RedirectAttributes`(dc-yasnippet "import+org.springframework.web.servlet.mvc.support.RedirectAttributes;")`