# -*- mode: snippet -*-
# name: com.atguigu.gulimall.coupon.dao.SkuFullReductionDao
# key: sfrd;
# group: dc-yasnippet
# --
SkuFullReductionDao`(dc-yasnippet "import+com.atguigu.gulimall.coupon.dao.SkuFullReductionDao;")`