# -*- mode: snippet -*-
# name: org.springframework.context.annotation.Configuration
# key: conf;
# group: dc-yasnippet
# --
Configuration`(dc-yasnippet "import+org.springframework.context.annotation.Configuration;")`