# -*- mode: snippet -*-
# name: com.atguigu.gulimall.ware.service.PurchaseDetailService
# key: pds;
# group: dc-yasnippet
# --
PurchaseDetailService`(dc-yasnippet "import+com.atguigu.gulimall.ware.service.PurchaseDetailService;")`