# -*- mode: snippet -*-
# name: com.atguigu.gulimall.ware.service.PurchaseService
# key: ps;
# group: dc-yasnippet
# --
PurchaseService`(dc-yasnippet "import+com.atguigu.gulimall.ware.service.PurchaseService;")`