# -*- mode: snippet -*-
# name: com.atguigu.gulimall.ware.service.WareInfoService
# key: wis;
# group: dc-yasnippet
# --
WareInfoService`(dc-yasnippet "import+com.atguigu.gulimall.ware.service.WareInfoService;")`