# -*- mode: snippet -*-
# name: com.atguigu.gulimall.ware.service.WareSkuService
# key: wss;
# group: dc-yasnippet
# --
WareSkuService`(dc-yasnippet "import+com.atguigu.gulimall.ware.service.WareSkuService;")`