# -*- mode: snippet -*-
# name: org.springframework.web.bind.MethodArgumentNotValidException
# key: manve;
# group: dc-yasnippet
# --
MethodArgumentNotValidException`(dc-yasnippet "import+org.springframework.web.bind.MethodArgumentNotValidException;")`