# -*- mode: snippet -*-
# name: org.apache.shiro.authz.annotation.RequiresPermissions
# key: rp;
# group: dc-yasnippet
# --
RequiresPermissions`(dc-yasnippet "import+org.apache.shiro.authz.annotation.RequiresPermissions;")`