# -*- mode: snippet -*-
# name: org.springframework.cache.annotation.Cacheable
# key: cach;
# group: dc-yasnippet
# --
Cacheable`(dc-yasnippet "import+org.springframework.cache.annotation.Cacheable;")`