# -*- mode: snippet -*-
# name: org.springframework.cache.annotation.CacheEvict
# key: ce;
# group: dc-yasnippet
# --
CacheEvict`(dc-yasnippet "import+org.springframework.cache.annotation.CacheEvict;")`