# -*- mode: snippet -*-
# name: org.springframework.beans.factory.annotation.Autowired
# key: auto;
# group: dc-yasnippet
# --
Autowired`(dc-yasnippet "import+org.springframework.beans.factory.annotation.Autowired;")`