# -*- mode: snippet -*-
# name: org.springframework.beans.factory.annotation.Value
# key: valu;
# group: dc-yasnippet
# --
Value`(dc-yasnippet "import+org.springframework.beans.factory.annotation.Value;")`