# -*- mode: snippet -*-
# name: com.atguigu.common.valid.UpdateStatusGroup
# key: usg;
# group: dc-yasnippet
# --
UpdateStatusGroup`(dc-yasnippet "import+com.atguigu.common.valid.UpdateStatusGroup;")`