# -*- mode: snippet -*-
# name: com.atguigu.gulimall.member.service.GrowthChangeHistoryService
# key: gchs;
# group: dc-yasnippet
# --
GrowthChangeHistoryService`(dc-yasnippet "import+com.atguigu.gulimall.member.service.GrowthChangeHistoryService;")`