# -*- mode: snippet -*-
# name: com.xunqi.common.constant.AuthServerConstant
# key: asc;
# group: dc-yasnippet
# --
AuthServerConstant`(dc-yasnippet "import+com.xunqi.common.constant.AuthServerConstant;")`