# -*- mode: snippet -*-
# name: org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder
# key: bcpe;
# group: dc-yasnippet
# --
BCryptPasswordEncoder`(dc-yasnippet "import+org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder;")`