# -*- mode: snippet -*-
# name: javax.validation.ConstraintValidatorContext
# key: cvc;
# group: dc-yasnippet
# --
ConstraintValidatorContext`(dc-yasnippet "import+javax.validation.ConstraintValidatorContext;")`