# -*- mode: snippet -*-
# name: org.springframework.boot.test.context.SpringBootTest
# key: sbt;
# group: dc-yasnippet
# --
SpringBootTest`(dc-yasnippet "import+org.springframework.boot.test.context.SpringBootTest;")`