# -*- mode: snippet -*-
# name: com.atguigu.gulimall.product.service.AttrService
# key: as;
# group: dc-yasnippet
# --
AttrService`(dc-yasnippet "import+com.atguigu.gulimall.product.service.AttrService;")`