# -*- mode: snippet -*-
# name: com.atguigu.gulimall.product.service.BrandService
# key: bs;
# group: dc-yasnippet
# --
BrandService`(dc-yasnippet "import+com.atguigu.gulimall.product.service.BrandService;")`