# -*- mode: snippet -*-
# name: com.atguigu.gulimall.product.service.CategoryService
# key: cs;
# group: dc-yasnippet
# --
CategoryService`(dc-yasnippet "import+com.atguigu.gulimall.product.service.CategoryService;")`