# -*- mode: snippet -*-
# name: com.atguigu.gulimall.product.service.CategoryBrandRelationService
# key: cbrs;
# group: dc-yasnippet
# --
CategoryBrandRelationService`(dc-yasnippet "import+com.atguigu.gulimall.product.service.CategoryBrandRelationService;")`