# -*- mode: snippet -*-
# name: com.atguigu.gulimall.product.service.ProductAttrValueService
# key: pavs;
# group: dc-yasnippet
# --
ProductAttrValueService`(dc-yasnippet "import+com.atguigu.gulimall.product.service.ProductAttrValueService;")`