# -*- mode: snippet -*-
# name: com.atguigu.gulimall.product.service.SkuInfoService
# key: sis;
# group: dc-yasnippet
# --
SkuInfoService`(dc-yasnippet "import+com.atguigu.gulimall.product.service.SkuInfoService;")`