# -*- mode: snippet -*-
# name: com.atguigu.gulimall.product.service.SpuInfoDescService
# key: sids;
# group: dc-yasnippet
# --
SpuInfoDescService`(dc-yasnippet "import+com.atguigu.gulimall.product.service.SpuInfoDescService;")`