# -*- mode: snippet -*-
# name: com.atguigu.gulimall.product.service.SpuInfoService
# key: sis;
# group: dc-yasnippet
# --
SpuInfoService`(dc-yasnippet "import+com.atguigu.gulimall.product.service.SpuInfoService;")`