# -*- mode: snippet -*-
# name: com.atguigu.gulimall.product.service.SpuImagesService
# key: sis;
# group: dc-yasnippet
# --
SpuImagesService`(dc-yasnippet "import+com.atguigu.gulimall.product.service.SpuImagesService;")`