# -*- mode: snippet -*-
# name: com.atguigu.gulimall.gulimallsearch.constant.EsConstant
# key: ec;
# group: dc-yasnippet
# --
EsConstant`(dc-yasnippet "import+com.atguigu.gulimall.gulimallsearch.constant.EsConstant;")`