# -*- mode: snippet -*-
# name: org.elasticsearch.search.aggregations.metrics.Avg
# key: avg;
# group: dc-yasnippet
# --
Avg`(dc-yasnippet "import+org.elasticsearch.search.aggregations.metrics.Avg;")`